* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.header_section {
  position: absolute;
  background-color: white;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  z-index: 1;
}

.nav_top-nav {
  position: fixed;
  width: 100vw;
  justify-content: space-between;
  border-bottom: solid gray 1px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav-row {
  display: grid;
  grid-template-columns: 5% 3% 12% 58% 20%;
  width: 100%;
  margin-bottom: 0;
  background-color: white;
  padding-bottom: 5px;
  padding-top: 5px;
}

.search-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.search-item:hover {
  background-color: rgb(163, 163, 163);
}

.search-item:active {
  border: solid black 1px;
}

.search_icon {
  background-image: url(./assets/search-512.png);
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
}

.nav_logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 30%;
}

.menu-list {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-left: 5px;
  justify-self: center;
}

.nav_space {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-self: center;
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

.menu_list:hover {
  background-color: thistle;
}

.menu_list:active {
  border: solid black 1px;
}

.menu_line {
  border: none;
  width: 80%;
  height: 2px;
  background-color: black;
  margin-top: 3px;
  margin-bottom: 3px;
}

.main-section {
  display: grid;
  position: relative;
  text-align: left;
  margin-left: 250px;
  margin-right: 250px;
}

.btn-authentication {
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
  border-radius: 7%;
  color: white;
  background-color: #437e94;
  font-size: smaller;
  font-weight: bold;
}

.title-main {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.title-main h1 {
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.title_social {
  display: flex;
  justify-self: center;
  align-items: center;
  list-style-type: none;
}

.social_icon {
  display: flex;
  margin:10px;
  border: solid;
  padding: 5px;
  border-color: #e8e8e8;
  border-radius: 50%;
  border-width: 1px;
  background-color: #e4dede;
}

.article_grid {
  display: block;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.subscription_article {
  display: flex;
  align-content: center;
}

.article_sign {
  display: block;
  width: 400px;
}

.article_sign span {
  font-style: italic;
}

.btn_signup {
  width: 20%;
  height: 10%;
  margin-top: 10px;
}

.footer-section {
  border-top: double;
  color: rgb(114, 112, 112);
  margin-bottom: 20px;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  border-width: 4px;
  border-color: rgb(194, 189, 190);
}

.appreciate_reader {
  margin: 0 35% 0 30%;
  width: 100%;
  align-content: center;
}

.line_mark {
  margin: 0;
  width: 15%;
  height: 2px;
  background-color: rgb(194, 184, 184);
  border: none;
}

.theory_sections {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-image: url("./assets/inflation-945.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px auto 20px auto;
}

.video_embedded {
  margin: 30px 0 10px 0;
  width: 100%;
  height: 350px;
}

.theory {
  font-weight: normal;
  font-style: normal;
  font-size: medium;
  margin: 20px 40px 20px 40px;
}

.theory_font {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 17px;
}

.theory_grids {
  margin-top: 100px;
  font-size: smaller;
  font-style: normal;
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
  font-weight: normal;
}

.comment_section {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0;
}

.theory_grids_2 {
  font-size: smaller;
  font-style: normal;
  font-weight: normal;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.editor_side {
  position: relative;
  justify-items: center;
  justify-content: center;
  grid-column: 3/4;
  grid-row: 1/2;
  top: 500px;
  left: 50px;
}

.img_editor {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  gap: 10px;
  margin: 5px;
}

.social {
  grid-column: 2/3;
  justify-self: end;
  display: flex;
  align-items: center;
}

.more_space {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 10px;
  margin-top: 45px;
  margin-left: 150px;
  margin-right: 150px;
}

.space_news {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.print_info {
  line-height: 15px;
  margin: 30px 0 30px 0;
  color: rgb(126, 121, 121);
  font-size: 12px;
}

.print_info p {
  display: inline;
  font-size: 12px;
}

.footer-header {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer-logo {
  grid-column: 1/2;
  justify-self: start;
  width: 25%;
  height: 30px;
}

.back-homepage {
  grid-column: 2/3;
  justify-self: end;
  width: 40%;
  height: 5px;
  color: grey;
}

.all-channels {
  display: grid;
  grid-template-columns: 85% 15%;
  gap: 10px;
  margin-top: 20px;
}

.all-channels ul li a {
  color: black;
  font-size: small;
}

.channels-categories {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.channels-categories ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
}

.side-subscription {
  border-left: solid;
  border-width: 1px;
  border-color: rgb(183, 189, 189);
}

.side-subscription h5 {
  margin-left: 20px;
}

.side-subscription ul {
  list-style-type: none;
  text-align: left;
}

.sub-side {
  font-weight: bolder;
}
